.App {
  text-align: center;
  min-height: 100vh;
  background: rgb(255,0,0);
  background: linear-gradient(139deg, rgba(255,0,0,0.8575805322128851) 0%, rgba(170, 10, 10, 0.664) 60%, rgba(255, 0, 0, 0.534) 100%);
  padding: 0;
  margin: 0;
}

.pepper {
  height: 15vh;
}

.title {
  margin: 0;
  padding-top: 2%;
  padding-bottom: 5%;
  font-size: 3rem;
  color:rgb(255, 255, 255);
}

.div-down {
  padding-top: 5% ;
  transition: 0.5s ease-in;
}

.search-form {
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.search-bar {
  min-width: 40%;
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
}

@media only screen and (max-width: 700px){
  .search-bar {
    width: 80%;
    display: block;
    margin: 0 auto 10px;
  }

  .search-button {
    display: inline-block;
    margin-right: 10px;
  }

  .clear-button {
    display: inline-block;
    margin-left: 10px;
  }
}

.search-bar :focus, input:focus {
  outline: none;
}

.search-button {
  background-color: rgb(170, 0, 0);
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
  border: none;
  cursor: pointer;
  color: white;
}

.search-button:hover {
  background-color:  #23a24d;
  color: white;
}

.clear-button {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
  border: none;
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: auto;
}

li {
  list-style: none;
  padding: 1vh;
}

.filter-button{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.filter-button:hover,
.clear-button:hover{
  background-color:  #23a24d;
  color: white;
}

.recipes-head {
  display: block;
  width: 100vw;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.87);
}

.recipes-head::before, 
.recipes-head::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-.5rem);
}