.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: 0;
  margin: 0;
}

.title {
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 3rem;
}

.div-down {
  padding-top: 20% ;
  transition: 10s ease-in;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 40%;
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
}

.search-bar :focus, input:focus {
  outline: none;
}

.search-button {
  background-color: lightcoral;
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
  border: none;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #a8edea;
  color: black;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: auto;
}

li {
  list-style: none;
  padding: 1vh;
}
