.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.search-button {
  background-color: lightcoral;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: rgba(220, 220, 220, 0.4);
  width: 80vw;
  margin: auto;
}

li {
  list-style: none;
  padding: 1vh;
}
