.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(216, 216, 216, .8);
    align-items: center;
    padding-bottom: 2%;
    max-width: 50%;
}

.image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    max-width: 100%;
}

h1 {
    margin: 10px;
}

ul {
    padding: 0;
}

.calories {
    font-weight: bold;
}

.recipe-link {
    text-decoration: none;
    color: rgba(250, 0, 0, 0.534);
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.479);
}

.recipe-link:hover {
    cursor: pointer;
    background-color: rgba(250, 0, 0, 0.534);
    color: rgb(255, 255, 255);
}